@using ModelsCommun
@using WebAppliClients.Models.ViewModels

@{
    ViewData["Title"] = "Panier";
}

@model Vente

<div class="container mt-5">
    <h2>Votre Panier</h2>
    <hr>

    <!-- Tableau pour afficher le contenu du panier -->
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProduitsVendus)
            {
                <tr>
                    <td>@item.Produit.Nom</td>
                    <td>@item.Produit.Prix</td>
                    <td>@item.QuantiteVendue</td>
                    <td>@(item.Produit.Prix * item.QuantiteVendue)</td>
                    <td>
                        <!-- Utiliser un formulaire POST pour la suppression -->
                        <form method="post" asp-controller="ProduitsVendus" asp-action="SupprimerDuPanier">
                            <input type="hidden" name="venteId" value="@Model.ID" />
                            <input type="hidden" name="produitId" value="@item.ID" />
                            <button type="submit" class="btn btn-sm btn-danger">Retirer</button>
                        </form>
                    </td>
                </tr>
            }
            <!-- Ligne totale -->
            <tr>
                <td colspan="3" class="text-right"><strong>Total de la commande:</strong></td>
                <td style="color: white; background-color: red;">@Model.ProduitsVendus.Sum(item => item.Produit.Prix * item.QuantiteVendue)</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <!-- Bouton pour valider la vente -->
    @if (Model.ProduitsVendus.Count == 0)
    {
        <p style="font-weight: bold; color: white; background-color: red; padding: 10px;">
            Votre panier est vide. Continuez vos achats.
        </p>
    }
    else
    {
        <div class="btn-group" role="group" aria-label="Actions">
            <!-- Bouton pour valider la vente -->
            <form method="post" asp-controller="ProduitsVendus" asp-action="ValiderCommande" asp-route-venteId="@Model.ID">
                <button type="submit" class="btn btn-primary">Valider la Commande</button>
            </form>

            <!-- Bouton pour annuler la commande -->
            <form method="post" asp-controller="ProduitsVendus" asp-action="AnnulerCommande" asp-route-venteId="@Model.ID">
                <button type="submit" class="btn btn-danger">Annuler commande</button>
            </form>
        </div>
    }
    <div class="btn-group" role="group" aria-label="Actions">
        <!-- Bouton pour continuer les achats -->
        <a class="btn btn-success" href="@Url.Action("ListeProduits", "Produits", new {venteId = Model.ID })">Continuer mes achats</a>
    </div>
</div>
