@using ModelsCommun
@using WebAppliClients.Models.ViewModel
@model ListViewModel

<div class="container mt-5">
    <h2>Liste des Produits</h2>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Etat</th>
              @*   <th>Action</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in Model.ListProduit)
            {
                <tr>
                    <td>@produit.Nom</td>
                    <td>@produit.Prix €</td>
                    @if (@produit.QuantiteDisponible > 0)
                    {
                        <td style="font-weight: bold; color: green;">En Stock</td>
                    }
                    else
                    {
                        <td style="font-weight: bold; color: red;">En Rupture</td>
                    }
                    <td>
                        @if (@produit.QuantiteDisponible > 0)
                        {
                            <a asp-action="DetailProduit" asp-route-venteId="@Model.IdVente" asp-route-id="@produit.ID">Selectionner</a>
                        }
                    </td>
                </tr>
            } 
        </tbody>
    </table>

    <!-- Ajout bouton pour visualiser le panier -->
    @if (Model.IdVente == 0)
    {
        <p style="font-weight: bold; color: white; background-color: red; padding: 10px;">
            Votre panier est vide. Ajoutez des produits avant de le visualiser.
        </p>
    }
    else
    {
        <a asp-controller="ProduitsVendus" asp-action="ProduitsVendus" asp-route-id="@Model.IdVente" class=" btn btn-success" title="Panier">Panier</a>
    }
    
</div>