@using ModelsCommun
@using WebAppAdmin.Views.Admin

    @model List<Produit>
<a asp-controller="Admin" asp-action="ListeArticles" class="btn btn-outline-dark" style="margin-bottom: 10px" title="Retour à l'accueil'">Back</a>
<h3>
    Liste des articles 

</h3>
<form asp-controller="Admin" asp-action="ArticleEditSend" method="post">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Produit</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var produit in Model)
        {            
            <tr>
                @if (produit.ID == Convert.ToInt32(ViewContext.RouteData.Values["id"]))
                {
                    <td>
                        <input class="form-control form-control-sm" type="text" name="produitID" placeholder="@produit.ID" readonly>
                    </td>
                    <td>
                        <input class="form-control form-control-sm" type="text" name="produitNom" value="@produit.Nom">
                    </td>
                    <td>
                            <input class="form-control form-control-sm" type="text" name="produitPrix" value="@produit.Prix €>
                        ">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" type="text" name="produitQuantiteDisponible" value="@produit.QuantiteDisponible"
                               aria-describedby="Help">
                        <small id="Help" class="form-text text-muted">
                               Tout les champs doivent être remplis.
                        </small>
                    </td>
                    
                }
                else
                {
                    <td>@produit.ID</td>
                    <td>@produit.Nom</td>
                    <td>@produit.Prix <i class="fa-solid fa-euro-sign"></i></td>
                    <td>@produit.QuantiteDisponible</td>
                }

                
            </tr>
        }
    </tbody>
</table>

    <button type="submit" class="btn btn-primary" style="position: relative; bottom: 1px; left: 90%"><i class="fa-solid fa-circle-check fa-xl"></i>  Confirmer</button>
</form>

              