@using ModelsCommun
@using WebAppAdmin.Views.Admin

    @model List<Vente>
<a asp-controller="Admin" asp-action="AdminHome" class="btn btn-outline-dark" style="margin-bottom: 10px" title="Retour à l'accueil">Back to home</a>
<h3>
    Historique des ventes

</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Articles</th>
            <th scope="col">Total</th>
            <th scope="col" width="15" style="text-align: center">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var vente in Model)
        {
            <tr>
                <td>@vente.ID</td>
                <td>@vente.Date</td>
                <td>
                    <button class="btn btn-outline-dark btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="displayProductDetails(@vente.ID)">Show Details</button>
                </td>
                <td>@vente.Total <i class="fa-solid fa-euro-sign"></i></td>
                <td style="text-align: center"><a asp-controller="Admin" asp-action="VenteSuppression" asp-route-id="@vente.ID" type="button" class="btn btn-labeled btn-danger btn-sm" title="Supprimer vente de l'historique'" width="15"><i class="fa-regular fa-trash-can"></i></a></td>
            </tr>
        }
    </tbody>
</table>
<div id="detailsContainer" style="display: none;">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var vente in Model)
            {
                @foreach (var produitvendu in vente.ProduitsVendus)
                {
                    <tr class="vente-@vente.ID">
                        <td>@produitvendu.Produit.ID</td>
                        <td>@produitvendu.Produit.Nom</td>

                        <td>@produitvendu.Produit.Prix €</td>
                        <td>@produitvendu.QuantiteVendue</td>
                    </tr>
                }
                
            }
        </tbody>
    </table>


</div>



<!-- JavaScript -->
<script>
    // Function to display product details
    let clickedVente = 0;
    let visible = false;

    function displayProductDetails(id) {
        // Make the container visible
       // document.getElementById('detailsContainer').style.display = 'block';
        //$('#detailsContainer').show();
        
        if (id == clickedVente) {
            if (visible) {
                $('#detailsContainer').hide();
                visible = false;
            }
            else {
                $('#detailsContainer').show();
                visible = true;
            }
        }
        else {
            $('#detailsContainer').show();
            clickedVente = id;
            visible = true;
        }

        $("tr[class^='vente-']").hide();
        $(".vente-" + id).show()
        
    }

    // Execute the function on page load if needed
    window.onload = function () {
        // You may add logic here to determine the initial state
    };
</script>
