@* @model ProduitVenduViewModel

@using (Html.BeginForm("ValiderPanier", "Vente", FormMethod.Post))
{
    <table>
        <thead>
            <tr>
                <th>Identifiant Produit</th>
                <th>Identifiant Vente</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ProduitVendu in Model )
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Produits[i].IdProduit)
                        @Html.HiddenFor(model => model.Produits[i].IdProduit)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Produits[i].IdVente)
                        @Html.HiddenFor(model => model.Produits[i].IdVente)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Produits[i].Quantite)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Valider Panier" />
}
 *@ *@